footer.footer
  .footer__content
    .footer__item
      h5.footer__heading Lampadari made in Italy
      p.footer__description
       | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
       |dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      //- /.footer__description
    //- /.footer__item
    .footer__item
      h5.footer__heading Lampadari artigianali
      p.footer__description
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        | dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      //- /.footer__description
    //- /.footer__item
    .footer__item
      h5.footer__heading 45 anni di esperienza
      p.footer__description
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        | dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      //- /.footer__description
    //- /.footer__item
    .footer__item
      h5.footer__heading Newsletter
      form(id="newsletter").form
        .form__inner
          input(type="text" placeholder="Nome e Cognome" required).form__input
          input(type="email" placeholder="Email" required).form__input
          input(type="checkbox" id="newsletter-checkbox").form__checkbox
          label(for="newsletter-checkbox").form__label
            | Acconsento al trattamento dei dati
          //- /.form__label
          button(type="submit").form__button
            span.form__button-text Iscriviti
          //- /.form__button
        //- /.form__inner
      //- /.form
    //- /.footer__item
  //- /.footer__content
  .footer__bottom
    ul.info
      li.info__item MMLAMPADARI srl
      li.info__item Via Feltrina 00
      li.info__item 31111 Pederobba (TV)
      li.info__item 0423.123456
      li.info__item
        a(href="mailto:info@mmlampadari.mm").info__link info@mmlampadari.mm
      //- /.info__item
      li.info__item P.IVA 04123456789
    //- /.info
    ul.socials
      li.socials__item
        a(href="https://www.facebook.com/" target="_blank").socials__link
          i.fab.fa-facebook-square
        //- /.socials__link
      //- /.socials__item
      li.socials__item
        a(href="https://www.instagram.com/" target="_blank").socials__link
          i.fab.fa-instagram
        //- /.socials__link
      //- /.socials__item
      li.socials__item
        a(href="https://www.pinterest.com/" target="_blank").socials__link
          i.fab.fa-pinterest-p
        //- /.socials__link
      //- /.socials__item
    //-/.socials
    ul.languages
      li.languages__item
        a(href="#").languages__link Ita
      //- /.languages__item
      li.languages__item
        a(href="#").languages__link Eng
      //- /.languages__item
      li.languages__item
        a(href="#").languages__link Deu
      //- /.languages__item
      li.languages__item
        a(href="#").languages__link Рус
      //- /.languages__item
    //- /.languages
  //- /.footer__bottom
//- /.footer