header.header
  .header__top
    a(href="#").trigger
      span.trigger__text Area riservata
      i.fas.fa-lock.trigger__icon-padlock
    //- /.trigger
  //- /.header__top
  a(href="#" title="mmlampadari.mm").header__logo
  nav.nav
    .nav__item
      a(href="#").nav__link Home
    //- /.nav__item
    .nav__item
      a(href="#").nav__link Azienda
      ul.nav__sub-menu
        li.nav__sub-item
          a(href="#").nav__sub-link Storia
        //- /.nav__sub-item
        li.nav__sub-item
          a(href="#").nav__sub-link MM Design
        //- /.nav__sub-item
        li.nav__sub-item
          a(href="#").nav__sub-link Designer
        //- /.nav__sub-item
        li.nav__sub-item
          a(href="#").nav__sub-link Certificazioni
        //- /.nav__sub-item
      //- /.nav__sub-menu
    //- /.nav__item
    .nav__item
      a(href="#").nav__link Collezioni
    //- /.nav__item
    .nav__item
      a(href="#").nav__link News
    //- /.nav__item
    .nav__item
      a(href="#").nav__link Contatti
    //- /.nav__item
  //- /.nav
//- /.header