.slider
  .slider__screen
    ul.slider__list
      li.slider__item
        .slider__box
          h3.slider__heading Precedente
          p.slider__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
          //- /.slider__description
        //- /.slider__box
      //- /.slider__item
      li.slider__item
        .slider__box
          h3.slider__heading Lampadari contemporanei
          p.slider__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
          //- /.slider__description
        //- /.slider__box
      //- /.slider__item
      li.slider__item
        .slider__box
          h3.slider__heading Seguente
          p.slider__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
          //- /.slider__description
        //- /.slider__box
      //- /.slider__item
    //- /.slider__list
    ul.slider__dots
      li.slider__dot
      li.slider__dot
      li.slider__dot
    //- /.slider__dots
    .bottom-box
      .bottom-box__top
        button.bottom-box__button
          .icon.icon-arrow.bottom-box__icon-arrow
        //- /.bottom-box__button
      //- /.bottom-box__top
      .bottom-box__bottom
        .bottom-box__item
          h4.bottom-box__heading Stai pensando ad un progetto?
          p.bottom-box__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
          //- /.bottom-box__description
          a(href="#").bottom-box__link Approfondisci
        //- /.bottom-box__item
        .bottom-box__item.bottom-box__item_bg-white
          h4.bottom-box__heading Vi aspettiamo alla fiera Euroluce
          p.bottom-box__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
          //- /.bottom-box__description
          a(href="#").bottom-box__link.bottom-box__link_black Approfondisci
        //- /.bottom-box__item
        .bottom-box__item.bottom-box__item_bg-black
          h4.bottom-box__heading.bottom-box__heading_white Scopri la nuova collezione
          p.bottom-box__description.bottom-box__description_white
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
          //- /.bottom-box__description
          a(href="#").bottom-box__link Approfondisci
        //- /.bottom-box__item
      //- /.bottom-box__bottom
    //- /.__bottom-box
  //- /.slider__screen
//- /.slider