@font-face
  src: url('../fonts/Dosis-Bold.ttf') format('truetype')
  font-family: 'Dosis'
  font-style: normal
  font-weight: 700

@font-face
  src: url('../fonts/Lato-Regular.ttf') format('truetype')
  font-family: 'Lato'
  font-style: normal
  font-weight: 400

@mixin text-default
  font-family: 'Dosis'
  font-style: normal