.footer
  background-color: $black-header

  &__content
    padding: 36px 145px 12px
    display: flex
    flex-flow: row wrap
    justify-content: space-around

  &__item
    max-width: 193px
    flex: 0 1 100%
    display: flex
    flex-direction: column
    @include text-default
    font-size: 12px
    font-weight: 300
    line-height: 17px

  &__heading
    @include heading-default
    color: $footer-white
    font-size: 14px
    text-transform: uppercase
    margin-bottom: 19px

  &__description
    margin: 0 0 20px


  &__bottom
    padding: 9px 40px
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: baseline

.info
  list-style: none
  padding: 0
  margin: 0 0 10px
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  flex: 0 1 703px

  &__item
    @include text-default
    font-size: 12px

  &__link
    color: $white
    &:hover
      color: $link-hover
    &:active
      opacity: .8
    &:focus
      text-decoration: underline

.socials
  list-style: none
  padding: 0
  margin: 0
  display: flex
  flex-flow: row nowrap
  justify-content: space-between

  &__item
    @include text-default
    font-size: 12px
    &:not(:last-child)
      margin-right: 13px

  &__link
    display: inline-block
    color: $white
    font-size: 20px
    &:hover
      color: $link-hover
    &:active
      opacity: .8
    &:focus
      color: $input-grey

.languages
  list-style: none
  padding: 0
  margin: 0
  display: flex
  flex-flow: row nowrap
  justify-content: space-between

  &__item
    @include text-default
    font-size: 14px
    text-transform: uppercase
    display: flex
    flex-flow: row nowrap
    align-items: center
    &:not(:last-child)
      &:after
        content: "|"
        text-indent: -999999px
        display: block
        float: right
        width: 1px
        height: 12px
        background: $white
        margin: 0 9px

  &__link
    color: $white
    &:hover
      color: $link-hover
    &:active
      opacity: .8
    &:focus
      text-decoration: underline