.modal-bg
  align-items: center
  background-color: rgba(255, 255, 255, .6)
  display: none
  flex-flow: row nowrap
  height: 100%
  justify-content: center
  left: 0
  padding-right: 17px
  position: fixed
  top: 0
  width: calc(100% - 17px)

  &:hover
    cursor: pointer

  &_open
    display: flex

.modal
  background-color: $black-header
  cursor: default
  flex: 0 1 100%
  max-width: calc(596px - 36px)
  padding: 13px 18px

  &__top
    @include heading-default
    align-items: baseline
    color: $white
    display: flex
    flex-flow: row nowrap
    font-size: 24px
    justify-content: center
    margin-bottom: 24px
    position: relative
    text-transform: uppercase

  &__head
    @include heading-default
    color: $white
    font-size: 24px

  &__close
    height: 29px
    position: absolute
    right: 0
    top: 0
    width: 29px

    &:hover

      &:before, &:after
        background-color: $link-hover

    &:active
      opacity: .8

    &:before, &:after
      background-color: $white
      content: ' '
      height: 29px
      left: 14px
      position: absolute
      width: 2px

    &:before
      transform: rotate(45deg)

    &:after
      transform: rotate(-45deg)

  &__inner
    display: flex
    flex-flow: row wrap
    justify-content: space-around

  &__item
    @include text-default
    color: $checkbox-grey
    flex: 0 1 184px
    font-size: 10px

  &__heading
    @include heading-default
    color: $white
    font-size: 18px
    margin-bottom: 16px
    text-transform: uppercase

.form

  &__inner
    display: flex
    flex-flow: column nowrap
    margin-top: 6px

  &__input
    @include text-default
    background-color: $white
    border: 0
    box-sizing: border-box
    color: $black-header
    font-size: 14px
    font-weight: 300
    height: 32px
    margin-bottom: 8px !important
    outline: none
    padding: 6px

    &::placeholder
      @include text-default
      color: $input-grey
      font-size: 14px
      font-weight: 300

    &:focus
      border: 3px inset $link-hover
      padding: 6px 3px

  &__label
    @include text-default
    align-items: center
    color: $checkbox-grey
    cursor: pointer
    display: flex
    flex-flow: row nowrap
    font-size: 10px
    margin-bottom: 6px

    &:before
      align-items: center
      background: $white
      color: $black
      content: ' '
      display: flex
      height: 8px
      justify-content: center
      margin: 0 8px 0 1px
      width: 8px

  &__checkbox
    display: none

    &:checked + .form__label
      color: $link-hover

    &:checked + .form__label:before
      content: 'x'

  &__button
    @include text-default
    background-color: $black
    border: 0
    font-size: 18px
    height: 32px
    margin-bottom: 10px
    text-transform: uppercase

    &:hover
      background-color: $input-grey
      cursor: pointer

    &:active
      background-color: $checkbox-grey
      outline: none

    &:focus
      outline: none

    &:active .form__button-text, &:focus .form__button-text
      left: 0
      position: relative
      top: 0