.slider
  flex: 1

  &__screen
    height: 100%
    overflow: hidden
    position: relative

  &__list
    margin: 0
    padding: 0
    list-style: none
    width: 9999px
    height: 100%
    font-size: 0

  &__item
    font-size: initial
    width: calc(100vw - 16px)
    height: 100%
    display: inline-block
    position: relative
    &:not(:last-child)
      margin-right: 16px
    &_previous
      background-color: darkgrey
    &_main
      background: url(../images/slide.jpg) no-repeat
      background-size: cover
      background-position: center
    &_next
      background-color: dimgrey

  &__box
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    background-color: $white
    opacity: 0.85
    max-width: calc(516px - (2 * 27px))
    padding: 18px 27px
    @include text-default
    color: $black
    font-size: 18px

  &__heading
    @include heading-default
    margin-bottom: 28px
    color: $heading-black
    font-size: 30px
    font-style: italic
    text-transform: uppercase

  &__dots
    margin: 0
    padding: 0
    list-style: none
    position: absolute
    bottom: 39px
    left: 50%
    transform: translateX(-50%)
    display: flex
    flex-flow: row nowrap

  &__dot
    width: 10px
    height: 10px
    border-radius: 50%
    border: 2px solid $black
    background-color: $white
    &:not(:last-child)
      margin-right: 9px
    &:hover
      cursor: pointer
      border-color: $link-hover
    &_active
      background-color: $link-hover

.bottom-box
  width: calc(100% - 40px)
  margin: 0 20px
  position: absolute
  bottom: 28px
  transform: translateY(100%)
  transition: all .5s ease-out
  &_visible
    bottom: 0
    transform: translateY(0%)

  &__top
    display: flex
    flex-flow: row nowrap
    justify-content: center

  &__button
    width: 84px
    height: 28px
    background-color: $white
    text-align: center
    border: none
    border-bottom: 1px solid gainsboro
    &:hover
      cursor: pointer
      background-color: $link-hover
    &:active .bottom-box__icon-arrow, &:focus .bottom-box__icon-arrow
      position: relative
      top: 0
      left: 0
    &:focus
      outline: none

  &__icon-arrow
    transition: all .5s ease-out
    &:before
      font-size: 28px
    &_down
      transform: scaleY(-1)

  &__inner
    display: flex
    flex-flow: row wrap

  &__item
    padding: 17px 20px 45px 15px
    background-color: $link-hover
    flex: 1
    display: flex
    flex-direction: column
    position: relative
    @include text-default
    font-size: 16px
    color: $black
    &_bg-white
      background-color: $white
    &_bg-black
      background-color: $black

  &__heading
    @include heading-default
    font-size: 28px
    margin-bottom: 14px
    flex: 1 0 auto
    &_white
      color: $white

  &__description
    margin: 0
    &_white
      color: $white

  &__link
    color: $white
    font-size: 18px
    position: absolute
    bottom: 8px
    right: 20px
    &:hover
      text-decoration: underline
    &_black
      color: $black