include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('')
    include pug/styles.pug
    script(src="https://kit.fontawesome.com/fd8fef90f6.js" crossorigin="anonymous")
  body
    .greeting
      include pug/includes/header
      include pug/includes/slider
    //- /.greeting
    include pug/includes/footer
    include pug/includes/modal
  script(src="js/index.js")